<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<ul class="nav">
  <li class="logo"><i class="fa fa-book" aria-hidden="true"></i> &nbsp; Booky</li>
  <li tabindex="0" onclick="window.open('\/', '_self');">Home</li>
  <li tabindex="0">Contact Us</li>
  <li tabindex="0" onclick="window.open('\/sell_book/', '_self');">Sell a Book</li>
  <li tabindex="0" onclick="search_display()"><i class="fa fa-search"></i></li>
</ul>
<div style="padding:50px;"></div>
<center><div id="search" style="padding-top:15px;"></div>
<div id="search_box" style="padding-top:10px;"></div>
</center>